.Rproj.user
.Rhistory
.RData
.Ruserdata
data
paper_cache
paper_files
01-training_and_testing_data_cache
01-training_and_testing_data_files
06-assessing_lime_explanations_cache
06-assessing_lime_explanations_files
07-logistic_regression_cache
07-logistic_regression_files
Applying-LIME-to-Bullet-Data.Rproj
journals/07-logistic_regression/data
journals/08-iris_comparison/data
08-iris_comparison_cache
08-iris_comparison_files
journals/09-understanding_lime/data
^*.tex$
*.log
*.gz
*.aux
*.bbl
*.blg
*.toc
*.DS_Store
*.pag
