
# General
*.DS_Store
*.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
data

# Journals
06-assessing_lime_explanations_cache
06-assessing_lime_explanations_files
07-logistic_regression_cache
07-logistic_regression_files
journals/07-logistic_regression/data
journals/08-iris_comparison/data
08-iris_comparison_cache
08-iris_comparison_files
journals/09-understanding_lime/data

# Paper
*.aux
*.bbl
*.blg
*.gz
*.log
*.pag
*.tex
*.toc

